Source: debian-blend-n-1.fi-configs
Section: misc
Priority: optional
Maintainer: Jaakko Kantojärvi <jaakko@n-1.fi>
Build-Depends: debhelper-compat (= 12),
               config-package-dev (>= 5.5)
Rules-Requires-Root: no
Standards-Version: 4.5.0
Homepage: https://github.com/raphendyr/debian-blend-n-1.fi-configs
Vcs-Browser: https://github.com/raphendyr/debian-blend-n-1.fi-configs
Vcs-Git: https://github.com/raphendyr/debian-blend-n-1.fi-configs.git


Package: blend-n-1.fi-config-bash
Architecture: all
Depends: ${misc:Depends}
Suggests: bash (>= 4.4)
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Debian Blend by n-1.fi - bash configuration
 This package establishes default configurations for the bash.
 .
 Debian Pure Blend by n-1.fi is a subset of Debian designed to
 meet basic expectations.


Package: blend-n-1.fi-config-docker
Architecture: all
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Recommends:
 docker-ce,
Provides: ${diverted-files}
Conflicts:
 docker (<< 1.5~), docker.io,
 ${diverted-files},
Description: Debian Blend by n-1.fi - Docker archive
 This package adds keyring and apt archive to downeload docker-ce.
 .
 Debian Pure Blend by n-1.fi is a subset of Debian designed to
 meet basic expectations.


Package: blend-n-1.fi-config-google
Architecture: amd64
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Recommends:
 google-chrome-stable,
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Debian Blend by n-1.fi - Google archive
 This package adds keyring and apt archive to downeload google-chrome-stable.
 .
 Debian Pure Blend by n-1.fi is a subset of Debian designed to
 meet basic expectations.


Package: blend-n-1.fi-config-heroku
Architecture: all
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Recommends:
 heroku,
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Debian Blend by n-1.fi - Heroku archive
 This package adds keyring and apt archive to downeload heroku.
 .
 Debian Pure Blend by n-1.fi is a subset of Debian designed to
 meet basic expectations.


Package: blend-n-1.fi-config-nano
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, nano (>= 3.2)
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Debian Blend by n-1.fi - nano configuration
 This package establishes default configurations for the nano.
 .
 Debian Pure Blend by n-1.fi is a subset of Debian designed to
 meet basic expectations.
